<div class="banner">
  <div class="banner-content">
    <h1>Le fameux jeux d'après-match TopFlop enfin sur mobile !</h1>
    <p>Facile et Rapide</p>
    <%= link_to t(".sign_in", default: "Connecte-toi !"), new_user_registration_path, class: "btn btn-medium" %>
  </div>
</div>
